*{
    margin: 0;
    padding: 0;
    
    font-family: 'Fira Sans', sans-serif;
}
header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url(../images/developer.png)  ;
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
.header-text{
    margin-top: 100px;
}
.word-of-name{
    color: rgb(249, 120, 15);
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 180px;
}
.nav-title{
    font-weight: 800px;
    font-size: 45px;
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
}
li{
    margin:0 20px;
}
.hire-btn{
    background-color: #FD6E0A;
    padding: 20px 35px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 20px;
}
.header-body{
    display: flex;
    margin: 20px 200px;
}
.header-subtitle{
    font-weight: 600;align-items: center;
    font-size: 45px;
    margin-bottom: 20px;
    /* font-family: 'Fira Sans', sans-serif; */
}
.header-title{
    font-weight: 700;
    font-size: 85px;
    /* font-family: 'Fira Sans', sans-serif; */
}
.header-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
    /* font-family: 'Fira Sans', sans-serif; */
}
.cv-dwnld{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
}
.header-img{
    height: 580px;
    width: 900px;
}
.about-me{
    text-align: center;
    margin: 100px 30px;
    padding: 130px 150px;
    background-color: #FFF8F3;
    border-radius: 20px;
}
.about-title{
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 35px;
}
.about-discription{
    color: #757575;
    font-size: 19.5px;
    margin-bottom: 30px;
    text-align: justify;
}
a{
    text-decoration: none;
    color: black;
}
.about-info{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.what-i-do{
    text-align: center;
}
.skills{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
.skill{
    padding: 30px;
    box-shadow: 2px 2px 10px rgb(233, 231, 231);
    text-align: left;
    margin: 0 20px;
    background-color: rgb(250, 252, 254);
    border-radius: 5px;
}
.resume{
    margin: 120px 50px;
    text-align: center;
}
.resume-heading{
    font-weight: 700;
    font-size: 30px;
    text-align: left;
}
.resume-title{
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 35px;
}
.resume-itme{
    padding: 15px 30px;
    text-align: left;
}
.resume-itme-title{
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 3px;
}
.resume-itme-sub-title{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 4px;
    color: #757575;
}
.resume-discription{
    color: #757575;
}
.contact{
    display: flex;
    margin: 120px 84px;
    padding: 120px 160px;
    background-color: #FFF8F3;
}
.contact-section{
    padding: 20px;
}
.icons{
    margin: 0 5px;
}
input,textarea{
    font-size: 32px;
    border: none;
    margin-bottom: 10px;
    width: 300px;
    padding: 10px;
}
